jupyterlab==4.2.0
pandas
numpy
h5py
findspark

blosc2==3.3.4
certifi==2025.4.26
charset-normalizer==3.4.2
findspark==2.0.1
h5py==3.14.0
idna==3.10
msgpack==1.1.0
ndindex==1.10.0
numexpr==2.10.2
numpy==2.2.6
pandas==2.3.0
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyspark==3.5.1
pytz==2025.2
requests==2.32.3
tables==3.10.2
tzdata==2025.2
urllib3==2.4.0
